<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="dataCacheClient"
       type="Microsoft.ApplicationServer.Caching.DataCacheClientSection,
            Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, 
            Culture=neutral, PublicKeyToken=31bf3856ad364e35"
       allowLocation="true"
       allowDefinition="Everywhere"/>
  </configSections>

  <dataCacheClient>
    <hosts>
      <host
         name="223.4.152.92"
         cachePort="22233"/>
    </hosts>
    <securityProperties mode="None" protectionLevel="None" />
  </dataCacheClient>
  
  <appSettings>
    <add key="ConnLUOBO" value="Data Source=61.4.83.187;User Id= root;Password=xiaoluobo;database=luobo;Allow User Variables=True;pooling=true;min pool size=5;max pool size=500;Connection Timeout=120;"/>
    <add key="ConnRadius" value="Data Source=61.4.83.187;User Id= root;Password=xiaoluobo;database=radius;Allow User Variables=True;pooling=true;min pool size=5;max pool size=500;Connection Timeout=120;"/>
    <add key="ConnStatistical" value="Data Source=61.4.83.187;User Id= root;Password=xiaoluobo;database=statistical;Allow User Variables=True;pooling=true;min pool size=5;max pool size=500;Connection Timeout=120;"/>
    <add key="platform_url" value="192.168.2.150"/>
    <add key="UserADPath_File" value="D:/LUOBOFile/ADUserFile/"/>
    <add key="UserFile_Path" value="D:/LUOBOFile"/>
    <add key="UserADPath_WEB" value="/ADUserFile/"/>
    <add key="ADTempletPath_File" value="D:/LUOBOFile/ADTemplet/"/>
    <add key="ADTempletPath_WEB" value="/ADTemplet/"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

