@charset "utf-8";
/* CSS Document */
body{
background-color: #e8e8e8; 
	color: #666;
	width: 100%;
	margin: 0px auto;
	-moz-user-focus: ignore;
	-moz-user-input: disabled;
	-moz-user-select: none;
	}
	
	#logo{
	text-align:right;
	width: 250px;
	height: 35px;
	background-image: url(../img/logo2.png);
	background-size: 80px 35px;
	background-repeat: no-repeat;	
	margin-top: 5px;
	font-size:16px;
	color:#06C;
	padding:11px;
}

#top-bar{

height: 46px;
border-bottom: 1px solid #e6e6e6;
padding: 0 10px 0 20px;
width: 100%;
float: left;
	}
	
#navbar-collapse-1 {
text-align: center;
height: 66px;
float: left;
width: 100%;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}

#navbar-collapse-1 li{
	text-align:center;
float: none;
display: inline-block;
text-align: center;
margin: 0 8px;
}
#navbar-collapse-1 li a{
display: block;
height: 100%;
text-align: center;
padding: 10px 15px 9px;
font-size: 12px;
font-weight: 400;
color: #999999;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}
#navbar-collapse-1 li a span{
display: block;
width: 28px;
height: 28px;
margin: 0 auto 2px;
}

#navbar-collapse-1  li  a.current {
	color: #0066CC;
}

.stats-container {
min-height: 100px;
height: 100px;
text-align: center;
background: white;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
margin-bottom:10px;
}

.stats-container [class^="col-"], .stats-container [class*="col-"] {
border-right: 1px solid #e6e6e6;
height: 100%;
margin-bottom: 0;
}

.stats-container [class^="col-"] .number, .stats-container [class*="col-"] .number {
font-size: 3.2em;
font-weight: 100;
color: #007aff;
line-height: 1.4em;
padding-top: 8px;
letter-spacing: -0.06em;
}

.stats-container [class^="col-"] .text, .stats-container [class*="col-"] .text {
font-weight: 100;
color: #999999;
}


.fa-colorful {
  -webkit-animation: colorful 1s infinite linear;
  -moz-animation: colorful 1s infinite linear;
  -o-animation: colorful 1s infinite linear;
  animation: colorful 1s infinite linear;
}
@-moz-keyframes colorful {
  0% {
  }
  50% {
            color:#c00;
            font-size:2.1em;
  }
  100% {
  }
}
@-webkit-keyframes colorful {
  0% {
  }
  50% {
            color:#c00;
            font-size:2.1em;
  }
  100% {
  }
}
@-o-keyframes colorful {
  0% {
  }
  50% {
            color:#c00;
            font-size:2.1em;
  }
  100% {
  }
}
@keyframes colorful {
  0% {
  }
  50% {
            color:#c00;
            font-size:2.1em;
  }
  100% {
  }
}

