<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ConnLUOBO" value="Data Source=61.4.83.187;User Id= root;Password=xiaoluobo;database=luobo;Allow User Variables=True;pooling=true;min pool size=5;max pool size=500;Connection Timeout=120;"/>
    <add key="UserADPath_File" value="d:/LUOBOFile/ADUserFile/"/>
    <add key="UserADPath_WEB" value="/ADUserFile/"/>
    <add key="ADTempletPath_File" value="d:/LUOBOFile/ADTemplet/"/>
    <add key="ADTempletPath_WEB" value="/ADTemplet/"/>
    <add key="serverpath" value="http://localhost:33002"/>
    <add key="weixinPath" value="http://localhost:33321"/>
    <add key="serverRadiusPath" value="http://service.next-wifi.com"/>
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <staticContent>
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
    </staticContent>
  </system.webServer>

</configuration>
