<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnLUOBO" value="Data Source=61.4.83.187;User Id= root;Password=xiaoluobo;database=luobo;Allow User Variables=True;pooling=true;min pool size=5;max pool size=500;Connection Timeout=120;"/>
    <add key="ConnRadius" value="Data Source=61.4.83.187;User Id= root;Password=xiaoluobo;database=radius;Allow User Variables=True;pooling=true;min pool size=5;max pool size=500;Connection Timeout=120;"/>
    <add key="ConnStatistical" value="Data Source=localhost;User Id= root;Password=xiaoluobo;database=Statistical;Allow User Variables=True;pooling=true;min pool size=5;max pool size=500;Connection Timeout=120;"/>
    <add key="UpdateService" value="http://service.next-wifi.com/DeviceService/Device/"/>
    <add key="UpdateBinService" value="http://service.next-wifi.com/DeviceService/UpdateBin/"/>
    <add key="IsUpdateBin" value="false"/>
    <add key="UpdateBinPath" value="d:\FirmVerBin"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime  maxUrlLength="1024000" maxQueryStringLength="1024000"/>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="WebDAV" />
      <!--<add name="WebDAV" path="*" verb="OPTIONS, TRACE, GET, HEAD, PUT, DELETE,POST" modules="WebDAVModule" resourceType="Unspecified" requireAccess="Execute"/>-->
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="1024000" maxUrl="1024000" />
      </requestFiltering>
    </security>
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>

</configuration>
